<div class="container">
    <button type="button" class="btn btn-primary btn-light">Добави проект</button>
    <br><br><br>
    <div *ngFor="let project of projects" >
<table class="table">
    <thead>
      <tr>
        <th scope="col"><div class="naslov">Проект: {{project.name}}</div></th>
        <th scope="col"></th>
        <th scope="col"><div class="editbutton">
            <a  class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a  class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>    
        </div></th>
     
      
        
        
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><div class="text-bold">Име</div></th>
            <td class="text-bold"><div class="text-bold">Позиция</div></td>
            <td class="text-bold"> <div class="text-bold">Имейл</div></td>
    
          </tr>
          <tr *ngFor="let employee of project.employees">
            <th class="text-bol"><div class="text-bol">{{employee.name}}</div></th>
            <th class="text-bol"><div class="text-bol">{{employee.role}}</div></th>
            <th class="text-bol"><div class="text-bol">{{employee.email}}</div></th>
    
          </tr>      
  </table>
</div>
</div>
