<div class="wrapper">
  <form class="container">
    <h1>Влез:</h1>
    <div class="form-outline mb-4">
      <input type="email" placeholder="Въведи потребителско име" id="form2Example1" class="form-control" />
      <label class="form-label" for="form2Example1">Потребителско име</label>
    </div>
  
    <div class="form-outline mb-4">
      <input type="password" placeholder="Въведи парола" id="form2Example2" class="form-control" />
      <label class="form-label" for="form2Example2">Парола</label>
    </div>
  
    <button type="button" class="btn btn-primary btn-light">Влез</button>
  </form>
</div>